.FormItem__label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: #633A97;
  font-size: 18px;
}

.FormItem__input {
  height: 30px;
  margin-top: 5px;
  border: 1px solid #633A97;
  background: rgba($color: #633A97, $alpha: 0.1);
  border-radius: 15px;
  padding: 0 15px;
  outline: none;
}