.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 71px;

}
.header_logo {
  width: 3vw;
  height: auto;
  margin-left: 10px;
}

.header_name {
  font-size: 2vw;
  color: #633A97;
}