.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}
.header a {
  text-decoration: none;
}
.header__logo-container {
  margin: 0;
  display: flex;
  align-items: center;
}
.header__logo-container:hover {
  cursor: pointer;
}
.header__logo {
  width: 50px;
  height: auto;
  margin: 0 10px;
}
.header__name {
  font-size: 28px;
  color: #633A97;
  margin: 0;
}
.header__session {
  display: flex;
  align-items: center;
}
.header__session--link {
  font-size: 16px;
  color: #633A97;
  margin: 0 10px;
}
.header__session--link:hover {
  text-decoration: underline;
  cursor: pointer;
}