.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 400px;
  min-height: fit-content;
  max-height: 500px;
  padding: 15px;
  border: 1px solid #13ABCE;
  border-radius: 1vw;
}
.login__head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login__head--name {
  font-size: 24px;
  color: #633A97;
}

.login__description {
  font-size: 1.5vw;
}

.login__form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login__button-container{
  margin-top: 10px;
}
@media only screen {
  @media (max-width: 600px) {
    .login {
      border: 0px solid #13ABCE;
      min-width: 90%;
      height: inherit;
      padding: 0 10px;
    }
  }
}
@media only screen {
  @media (max-height: 500px) {
    .login-container{
      height: inherit;
      align-items: flex-start;
    }
  }
}