.login {
  width: 25vw;
  margin: 20vh 37.5vw;
  padding: 1vw;
  border: .1vw solid #13ABCE;
  border-radius: 1vw;

  .login__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .login__head-logo {
      width: 3vw;
      height: auto;
      margin-right: 1vw;
    }

    .login__head-name {
      font-size: 2vw;
      color: #633A97;
    }
  }

  .login__description {
    font-size: 1.5vw;
  }

  .login__button-container {
    margin-top: 2vw;

    button {
      width: 100%;
      height: 2.5vw;
      color: white;
      background-color: #633A97;
      border-radius: 1vw;
      border: none;
    }

    button:hover {
      background-color: #13ABCE;
    }
  }

}