.userProfile {
  margin: 20vh 37.5vw;
  padding: 1vw;
  border: .1vw solid #13ABCE;
  border-radius: 1vw;
  .userProfile__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .userProfile__head-logo {
      width: 3vw;
      height: auto;
      margin-right: 1vw;
    }

    .userProfile__head-name {
      font-size: 2vw;
      color: #633A97;
    }
  }
}