.Layout{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Layout__container {
  display: flex;
  flex: 1;
  overflow: auto;
}
.Layout__container--content{
  margin: 0;
  flex: 1;
  display:flex;
}

.Layout__container--content > div{
  flex: 1;
}
